body {
  margin: 0;
  padding: 0;
  background-color: #F6F3C2;
  text-align: center;
  color:#E37434;
  font-size:xx-large;
}

li {
    font-size:xx-large;
    width: 25%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #91C6BC;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: #F6F3C2;
  text-align: center;
  padding-bottom: 80px;
  padding-top: 80px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #4B9DA9;
}

#pop {
width: 100%;
}

#pop_glowna {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 77vh;
  padding: 0%;
}

#pop_czesc {
  display: flex;
  justify-content: center;
  align-items: center;
padding: 0%;
}

.pop_czesc {
  display: flex;
  gap: 20px;
  padding: 20px;
  overflow: hidden; 
}

.pop_img {
  width: 40%;
}
.pop_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pop_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pop_content {
  width: 60%;
  display: flex;
  align-items: center; 
}

div {
    padding: 3%;
    font-weight: bold;
}